.svg-acciones
  height 1.5em
  width 1.5em
  margin-left 2px

.boton-accion
  cursor pointer
  border-radius 0.25rem
  font-size 1em
  display inline-flex

.sin-boton-accion
  display inline-flex

.boton-accion:disabled, .boton-accion[disabled]
  pointer-events none !important
  opacity .55 !important

.boton-accion-avance
  color #fff
  background-color #007bff
  border-color #007bff
  .svg-acciones
    fill #fff

.boton-accion-retroceso
  color #212529
  background-color #ffc107
  border-color #ffc107
  .svg-acciones
    fill #212529
