@import url('https://cdn.materialdesignicons.com/7.0.96/css/materialdesignicons.min.css')
    
[placeholder]:empty::before 
    content attr(placeholder)
    color #7bF

.componente-pantalla
  display flex
  //grid-template-columns repeat(3, 1fr)
  //gap 2%
  margin-left auto
  margin-right auto
  @media (max-width: 960px)
      grid-template-columns: repeat(2, 1fr)
  @media (max-width: 600px)
      grid-template-columns: repeat(1, 1fr)

.seccion-final
  margin-left auto
  margin-right auto
  padding: 20px
  @media (max-width: 960px)
      grid-template-columns: repeat(2, 1fr)
  @media (max-width: 600px)
      grid-template-columns: repeat(1, 1fr)

.boton-add
  margin-left auto
  margin-right auto
  padding: 15px
  display: flex
  justify-content: flex-end

.tabs


.MuiTab-root
    display flex
    flex-direction column // Para apilar número y texto
    align-items start
    justify-content center
    min-height 60px// Altura de cada tab
    font-size 14px
    font-weight bold

.Mui-selected
    background-color #fffff // Color de tab seleccionado
    border-radius 8px